.polygon{
    fill: #fff;
}

.polygon:hover{
    fill: #ccf;
}

body{
    max-width:1280px;
    margin-right: auto;
    margin-left: auto;
    padding:0 100px;
    font-family: sans-serif;
}

.container{
    display:flex;
    justify-content: space-between;
}

#points{
    white-space: pre-wrap;    
}